#Norifications_TOP {
	width: 100%;
	height: 100%;
}
.WeakTeamBonus {
	width: 600px;
	height: 184px;
	background-color: #373737;
	align: center top;
	margin-top: 78px;
	background-image: url("file://{images}/custom_game/leaderboards/leaderboards_background_1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 8px 0;
	flow-children: down;
	transform: translatey(-150px);
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0s, transform 0.4s ease-in-out 0s;
}
.WeakTeamBonus.show {
	opacity: 1;
	transform: translatey(0px);
}
#WeakHeader {
	width: 100%;
	height: 69px;
	font-size: 28px;
	text-align: center;
	text-overflow: shrink;
	color: gradient(linear, 0% 110%, 0% 0%, from(#aba6c2), to(white));
	padding-top: 4px;
	text-shadow: 2px 2px 2px black;
	padding: 10px;
	background-image: url("file://{images}/custom_game/loading_screen/quest_header.png");
	background-size: 100%;
}
#WeakInfo_Main {
	width: 100%;
}
#WeakInfo_Root {
	flow-children: down;
	horizontal-align: center;
}
#WeakInfo_Shadow {
	width: 100%;
	height: 50px;
	background-color: gradient(
		linear,
		0% 0%,
		0% 100%,
		from(rgba(0, 0, 0, 0.7)),
		color-stop(0.35, transparent),
		to(transparent)
	);
	vertical-align: top;
}
#WeakBonusesRoot {
	height: 60px;
	flow-children: right;
	horizontal-align: center;
	padding-right: -10px;
	padding-left: 10px;
}
.WeakBonus {
	background-image: url("file://{images}/custom_game/ability_selection/button_bg_reroll.png");
	background-size: 100%;
	width: 200px;
	height: 40px;
	align: center center;
	margin-right: 20px;
	box-shadow: black 0 0 3px 0;
}
.WeakBonusText {
	font-size: 20px;
	align: center center;
	text-align: center;
	color: #fcda05;
	text-transform: uppercase;
	text-overflow: shrink;
	text-shadow: 0px 3px 2px black;
}

#WeakClose {
	background-image: url("file://{images}/custom_game/button_bg_gold.png");
	background-size: 100%;
	width: 200px;
	height: 40px;
	align: center center;
	margin-right: 20px;
	transition: brightness 0.1s ease-in-out 0s;
	box-shadow: black 0 0 3px 0;
}
#WeakCloseText {
	color: #ececec;
	font-size: 23px;
	padding-top: 1px;
}
#WeakClose:hover {
	brightness: 1.6;
}
#WeakClose:active {
	brightness: 0.8;
}
